body{
  background-color: aqua;
}
.my-list{
  text-align: center;
}
.todo-list-container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

input {
  flex-grow: 1;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 6px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 300px;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  color: #555;
}

svg {
  margin-left: 6px;
  cursor: pointer;
}
